@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 95%;
    --foreground: 231 20% 27%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 27%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 0 0% 9%;
    --muted: 220 13% 91%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 36 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 25 95% 53%; /* dark orange */
    --sidebar-accent-foreground: 0 0% 100%; /* white */
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 231 48% 48%;
  }

  .dark {
    --background: 231 20% 11%;
    --foreground: 0 0% 98%;
    --card: 231 20% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 231 20% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 60%;
    --primary-foreground: 0 0% 9%;
    --secondary: 231 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 36 100% 55%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 20%;
    --input: 231 20% 20%;
    --ring: 231 48% 60%;
    --chart-1: 231 48% 60%;
    --chart-2: 36 100% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 231 20% 13%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 231 48% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 25 95% 53%; /* dark orange */
    --sidebar-accent-foreground: 0 0% 100%; /* white */
    --sidebar-border: 231 20% 20%;
    --sidebar-ring: 231 48% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .sidebar-hover-bg {
    @apply hover:bg-sidebar-accent/90;
  }
}
